table.number-sequence > tbody > tr > td {
    width: 4em;
    text-align: right;
    padding: 8px;
    border-bottom: none;
}

table.number-sequence > tbody > tr > td.ellipse {
    padding-left: 0;
    width: auto;
}

.reveal.center .slides section code.tall-code {
    max-height: 600px;
}

.iframe-2 > iframe {
    transform: scale(2);
    transform-origin: 0 0;
}

.hidden {
    visibility: hidden;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.flex-columns {
    display: flex;
}

.flex-centered {
    align-items: center;
}

.flex-columns > * {
    flex-grow: 1
}

.reveal section img.plain-image {
    border: none;
    box-shadow: none;
}

.align-left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.two-column {
    float: left;
    width: 45%;
}

.reveal section img.float-left {
    margin-right: 10px;
}

ul.book-list {
    list-style-type: none;
}

ul.book-list > li {
    position: relative;
    /* These sizes are chosen to match the width of book images */
    margin-left: 220px;
    margin-right: 220px;
    height: 150px;
}

ul.book-list > li > a {
    display: inline-block;
}

ul.book-list > li > a > img {
    border: none;
    position: absolute;
    max-width: inherit;
    max-height: inherit;
}

ul.book-list > li:nth-child(odd) > a > img {
    left: -220px;
}

ul.book-list > li:nth-child(even) > a {
    text-align: right;
}

ul.book-list > li:nth-child(even) > a > img {
    left: calc(100% + 20px);
    transform: translateY(-50%);
}
